/* Styles for the entire component */
.text-white {
    color: white;
}

.min-h-screen {
    min-height: 100vh;
}

.admin-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Styles for the navigation bar */
.navigation {
    background-color: #292524;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: white!important; */
}

/* Styles for the container */
.container {
    margin: 0 auto;
    padding: 2rem;
}

/* Styles for the table */
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #292524;
    color: white;
    font-weight: bold;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Styles for buttons */
.button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.button-primary {
    background-color: #4caf50;
    color: white;
}

.button-primary:hover {
    background-color: #45a049;
}

.button-danger {
    background-color: #f44336;
    color: white;
}

.button-danger:hover {
    background-color: #d32f2f;
}

